<h1> <%= @flight.airline.name %> <%= @flight.title %></h1> <br>
<h3>  <%= pluralize(@flight.passengers.size, 'passenger') %> booked</h3> <br>
<div>
    Departure: <%= @flight.departure %> <br>
    Arrival: <%= @flight.arrival %> <br>
    Destination: <%= @flight.airline.destination %>
</div> <br>
<div>
    <table>
        <th>Ticket Number</th> <th>Price</th> <th>Seat</th> <th>Purchased</th>
            <% if !@flight.tickets[1].nil? %>
                    <% @flight.tickets.each do |ticket| %>
                        <tr>
                            <td><%= ticket.ticket_num %></td>
                            <td> $<%= ticket.price %></td>
                            <td><%= ticket.seat_num %></td>
                            <td>  
                                <% if ticket.passenger.nil? %>
                                    <%= link_to 'Buy Ticket', buy_ticket_path(ticket) %>
                                <% else %>
                                    <div>Purchased</div>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
            <% else %>
                <tr>
                    <td><%= @tickets.ticket_num %></td>
                    <td> $<%= @tickets.price %></td>
                    <td><%= @tickets.seat_num %></td>
                    <td>  
                        <% if @tickets.passenger.nil? %>
                            <%= link_to 'Buy Ticket', buy_ticket_path(@tickets) %>
                        <% else %>
                           <span>purchased</span> 
                        <% end %>
                    </td>
                </tr>
            <% end %>
    </table>
        <div id="filters">
            <%= link_to 'Create Ticket', new_flight_ticket_path(@flight) %> 
                <%= link_to 'Show All Tickets', flights_path %>
            <% if !@flight.tickets[1].nil? %>
                <%= link_to 'Cheapest Ticket', cheapest_flight_path(@flight) %> 
                <%= link_to 'Expensive Ticket', expensive_flight_path(@flight) %> 
            <% else %>
                <%= link_to "Show Flight's Tickets", flight_path(@flight) %>
            <% end %>
        </div>
</div>