<h1> <%= @flight.airline.name %></h1>
<h1><%= @flight.title %></h1>
<div>
    Departure: <%= @flight.departure %> <br>
    Arrival: <%= @flight.arrival %> <br>
    Destination: <%= @flight.airline.destination %>
</div>