<h1> <%= @flight.airline.name %></h1>
<h1><%= @flight.title %></h1>
<div>
    Departure: <%= @flight.departure %> <br>
    Arrival: <%= @flight.arrival %> <br>
    Destination: <%= @flight.airline.destination %>
</div>
<div>
    <table>
        <% @tickets.each do |ticket| %>
        <th>Ticket Number</th> <th>Price</th> <th>Seat</th> <th>Purchased</th>
        <tr>
            <td><%= ticket.ticket_num %></td>
            <td> <%= ticket.price %></td>
            <td><%= ticket.seat_num %></td>
            <td>  
                <% if ticket.passenger.nil? %>
                    <%= link_to 'Buy ticket', buy_ticket_path(ticket) %>
                <% else %>
                    purchased
                <% end %>
            </td>
        </tr>
        <% end %>
    </table>

        <%= link_to 'Create ticket', new_flight_ticket_path(@flight) %> <br>
        <% if !@tickets[1].nil? %>
            <%= link_to 'Cheapest ticket', cheapest_flight_path(@flight) %> <br>
            <%= link_to 'Expensive ticket', expensive_flight_path(@flight) %> <br>
        <% end %>
        <%= link_to 'back to airlines', airlines_path %> <br>

</div>