<h1> <%= @flight.airline.name %></h1>
<h1><%= @flight.title %></h1>
<div>
    Departure: <%= @flight.departure %> <br>
    Arrival: <%= @flight.arrival %> <br>
    Destination: <%= @flight.airline.destination %>
</div>
<div>
    <table>
        <th>Ticket Number</th> <th>Price</th> <th>Seat</th> <th>Purchased</th>
            <% if !@tickets[1].nil? %>
                    <% @tickets.each do |ticket| %>
                        <tr>
                            <td><%= ticket.ticket_num %></td>
                            <td> $<%= ticket.price %></td>
                            <td><%= ticket.seat_num %></td>
                            <td>  
                                <% if ticket.passenger.nil? %>
                                    <%= link_to 'Buy ticket', buy_ticket_path(ticket) %>
                                <% else %>
                                    <div>Purchased</div>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
            <% else %>
                <tr>
                    <td><%= @tickets.ticket_num %></td>
                    <td> $<%= @tickets.price %></td>
                    <td><%= @tickets.seat_num %></td>
                    <td>  
                        <% if @tickets.passenger.nil? %>
                            <%= link_to 'Buy ticket', buy_ticket_path(@tickets) %>
                        <% else %>
                           <span>purchased</span> 
                        <% end %>
                    </td>
                </tr>
            <% end %>
    </table>
        <div>
            <%= link_to 'Create ticket', new_flight_ticket_path(@flight) %> 
            <% if !@tickets[1].nil? %>
                <%= link_to 'Cheapest ticket', cheapest_flight_path(@flight) %> 
                <%= link_to 'Expensive ticket', expensive_flight_path(@flight) %> 
            <% end %>
            <%= link_to 'Show all tickets', flight_path(@flight) %>
            <%= link_to 'back to airlines', airlines_path %> <br>
        </div>
</div>