<%= form_tag '/login' do%>
    <label>Username:</label><br>
    <%= text_field_tag :username %><br>
    <label>Password:</label><br>
    <%= password_field_tag :password %> <br>
    <%= submit_tag 'Login' %>
<% end %>

<%= link_to "Signup", signup_path %> <br> <br>
<p>Or try <%= link_to 'Facebook Signin', '/auth/facebook'%>.</p>
<p>Or try <%= link_to 'Gmail Signin', '/auth/google_oauth2'%>.</p>