<div id="login_form">
<h1>Signup</h1> <br>
<%= form_for :user, class: "create" do |f| %>
    <%= f.text_field :username, placeholder: "Username" %> 
    <%= f.password_field :password, placeholder: "Password"%> 
    <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
    <%= f.submit 'Signup' %>
    <%= render 'errors' %>
<% end %>
</div>
<%= render 'logins' %>