<h1>Ticket: <%= @ticket.ticket_num %></h1>
<div id="login_form">
    <%= form_for @ticket do |f| %>
        <%=f.label "Passenger"  %> <br>
        <%=f.collection_select(:passenger_id, current_user.passengers, :id, :full_name, {prompt: "Please select passenger"}) %> <br>
        <%= f.submit "Buy Ticket" %>
        <%= render 'errors' %>
    <% end %>

    <% if @ticket.passenger.nil? %>

    <% elsif current_user.id !=  @ticket.passenger.user_id  %>
        <h3> What are you doing?</h3>
    <% else %>
        <%= form_for @ticket, method: :delete do |f| %>
        <%= f.submit 'cancel Passenger'%>
        <% end %>
    <% end %>
</div>
<% if current_user.passengers.empty? %>
    <div id="error_explanation"> You have no Passengers to select</div>
<% end %>
    <div id="error_explanation"> <%= @message %> </div>