<% if !@tickets.empty? %>
<ul>
        <% @tickets.each do |ticket| %>
            <% if ticket.flight.nil? %>
            <h2> Ticket <%= ticket.ticket_num %> has no Flight</h2>
            <% else %>
            <h3>Plane: <%= ticket.flight.title %></h3>
            <% end %>
            <li>
                Ticket Number: <%= ticket.ticket_num %> -
                Seat Number: <%= ticket.seat_num %> -
                Price: $<%= ticket.price %>
            </li>
        <% end %>
    <%= link_to 'Cheapest Ticket', cheapest_path %>
    <%= link_to 'Expensive Ticket', expensive_path %>
    <%= link_to 'Create Ticket', new_ticket_path %>
</ul>
    <% else %>
    <h2>Tickets are sold Out!!</h2>
    <% end %>