     <% if @ticket.flight.nil?  %>
          <h2> Ticket <%= @ticket.ticket_num %> has no Flight</h2>
     <% else %>
        <h1> Plane: <%= @ticket.flight.title %></h1>
        <div>Plane Departing: <%= @ticket.flight.departure %></div>
        <div>Plane Arriving: <%= @ticket.flight.arrival %></div> <br><br>
        <h3>Ticket Number: <%= @ticket.ticket_num %></h3>
     <% end %>

<h2>Seat Number: <%= @ticket.seat_num %></h2>

<h3>Price: $<%= @ticket.price %></h2> <br><br>
<% if @ticket.passenger.nil? %>
    <%= link_to "Purchase Ticket", buy_ticket_path(@ticket) %>
<% elsif current_user.id == @ticket.passenger_id%>
    <h3><%= @ticket.passenger.full_name %> owns this ticket.</h3>
    <div id="login_form">
     <%= form_for @ticket, method: :delete do |f| %>
        <%= f.submit 'cancel Passenger'%>
    <% end %>
    </div>
<% end %>
<div id="filters">

<% if !@ticket.flight_id.nil? %>
    <%= link_to 'Show all tickets', flight_path(@ticket.flight_id) %>
<% else %>
    <%= link_to 'Show all tickets', tickets_path %>
<% end %>
</div>