     <% if @ticket.flight.nil?  %>
          <h2> Ticket <%= @ticket.ticket_num %> has no Flight</h2>
     <% else %>
        <div> Plane: <%= @ticket.flight.title %></div>
        <div>Plane Departing <%= @ticket.flight.departure %></div>
        <div>Plane Arriving <%= @ticket.flight.arrival %></div>
        <h1>Ticket Number: <%= @ticket.ticket_num %></h1>
     <% end %>

<h2>Seat Number: <%= @ticket.seat_num %></h2>

<h3>Price: $<%= @ticket.price %></h2>
<% if @ticket.passenger.nil? %>
    <%= link_to "Purchase Ticket", buy_ticket_path %> <br>
<% else %>
    <h3><%= @ticket.passenger.full_name %> owns this ticket.</h3>
<% end %>
<%= link_to 'Show all tickets', flight_path(@ticket.flight_id) %> <br> <br>
<%= link_to 'back to airlines', airlines_path %> <br>