<div id="login_form">
<%= form_for @passenger do |f| %>
    <%= f.text_field :full_name, placeholder: "Full Name" %>
    <%= f.number_field :age, placeholder: "Age" %>
    <%= f.submit %>
    <%= render 'error' %>
<% end %>
</div>