<% if !@passengers.empty? %>
    <% @passengers.each do |passenger| %>
        <% if !passenger.tickets.empty? %>
        <h1> <%= passenger.full_name %>'s Plane Tickets:</h1> <br><br>
            <% passenger.tickets.each do |tic| %>
                <%= tic.ticket_num %>
                <%= tic.price %>
                <%= tic.seat_num %>
            <% end %>
        <%else %>
            <h2> <%= passenger.full_name %> has no Plane tickets:</h2>
        <% end %>
            <%= link_to "Edit Passenger", edit_passenger_path(passenger) %>

    <% end %>

<% else %>
    <h2>You Have No Passengers</h2> <br><br>
     <%= link_to "Create Passenger", new_passenger_path %>
<% end %>

<%= link_to "View Airlines", root_path %>
