<h1>
    <%= @passenger.full_name %>
</h1> 

<%= @passenger.age %>

<% if !@passenger.tickets.empty? %>
<h2> <%= @passenger.full_name %>'s Plane Tickets:</h2>
    <% @passenger.tickets.each do |tic| %>
        <%= tic.ticket_num %>
        <%= tic.price %>
    <% end %>
<%else %>
    <h2> <%= @passenger.full_name %> has no Plane tickets:</h2>
<% end %>

<%= link_to "View Airlines", root_path %>