<h1><%= @airline.name %></h1>

<h3><%= @airline.address %></h3>

<ul>
<% @airline.flights.each do |flight| %>
  <li>
  <h2><%= flight.title.capitalize %> - Departure: <%= flight.departure %> - Arrival: <%= flight.arrival %> </h2> <br><br>
    <h3> Your destination: <%= @airline.destination %></h3> <br>

    <%= link_to 'View Flight', airline_flight_path(@airline, flight.id) %><br> <br>
    <% if !flight.tickets.empty? %>
      <h1> Tickets </h1>  
        <table border="1" > 
            <th> Ticket Number </th> <th>Seat Number</th> <th>Price</th>
          <% flight.tickets.each  do |ticket| %>
            <tr align="center">
              <td><%= link_to ticket.ticket_num, ticket_path(ticket) %> </td>
              <td><%= ticket.seat_num %></td>
              <td>$<%= ticket.price %></td>
            </tr>
          <% end %>
        </table> <br><br>
    <% end %>
  </li>
<% end %>
</ul>

